html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.el-button {
    --el-button-bg-color: #c04851;
    --el-button-active-bg-color: #ed5a65;
    --el-button-hover-bg-color: #f07c82;
    --el-button-border-color: #c04851;
    --el-button-hover-border-color: #eea2a4;
    --el-button-active-border-color: #c04851;
    --el-button-active-text-color: white;
    --el-button-hover-text-color: white;
    --el-button-text-color: white;
}

.el-button {
    --el-button-bg-color: #3b818c;
    --el-button-active-bg-color: #1491a8;
    --el-button-hover-bg-color: #0eb0c9;
    --el-button-border-color: #3b818c;
    --el-button-hover-border-color: #51c4d3;
    --el-button-active-border-color: #3b818c;
    --el-button-active-text-color: white;
    --el-button-hover-text-color: white;
    --el-button-text-color: white;
}

.el-button.is-disabled,
.el-button.is-disabled:active,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
    background-color: #e3b4b8;
    border-color: #eea2a4;
}

.el-input {
    --el-input-border-color: #8fb2c9;
    --el-input-hover-border-color: #8fb2c9;
    --el-input-focus-border-color: #8fb2c9;
}
